/* Add some custom styling for the modal */
.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.75);
}

.ReactModal__Content {
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  margin: auto;
  background-color: white;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
